/*
 *    This file is part of Venom.
 *
 *    Venom is free software: you can redistribute it and/or modify
 *    it under the terms of the GNU General Public License as published by
 *    the Free Software Foundation, either version 3 of the License, or
 *    (at your option) any later version.
 *
 *    Venom is distributed in the hope that it will be useful,
 *    but WITHOUT ANY WARRANTY; without even the implied warranty of
 *    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *    GNU General Public License for more details.
 *
 *    You should have received a copy of the GNU General Public License
 *    along with Venom.  If not, see <http://www.gnu.org/licenses/>.
 */

@define-color treeview-background #414042;
@define-color treeview-selected lighter(@treeview-background);
@define-color background #231f20;
@define-color foreground #f1f2f2;
@define-color border-color #636466;
@define-color callbutton-color #6bc260;
@define-color callbutton-selected lighter(@callbutton-color);

* {
  -engine: none;
  -GtkRange-slider-width: 13;
  -GtkRange-stepper-spacing: 0;
  -GtkScrollbar-has-backward-stepper: false;
  -GtkScrollbar-has-forward-stepper: false;
  -GtkWindow-resize-grip-default: false;
  -GtkWindow-resize-grip-height: 0;
  -GtkWindow-resize-grip-width: 0;
  font: sans 10;
}

#contact_list {
  color: @foreground;
  background-color: @background;
}

#contact_list GtkLabel {
  color: @foreground;
}

#contact_list GtkTooltip {
  color: @foreground;
}

#contact_list .arrow {
  color: @foreground;
}

#contact_list .bottombutton:active,
#contact_list .bottombutton:hover:active,
#contact_list .bottombutton:focus:active{
  background-color: lighter (@treeview-selected);
  background-image: none;
  border-style: none;
}

#contact_list .bottombutton:selected,
#contact_list .bottombutton:hover {
  background-color: @treeview-selected;
  background-image: none;
  border-style: none;
}

#contact_list .bottombutton {
  background-color: @background;
  background-image: none;
  border-image: none;
  border-style: none;
}

#contact_list .statuscombo *:active,
#contact_list .statuscombo *:hover,
#contact_list .statuscombo *:focus:active{
  background-color: lighter (@border-color);
  background-image: none;
  border-style: none;
}

#contact_list .statuscombo * {
  font-weight: bold;
  background-color: @border-color;
  background-image: none;
  border-image: none;
  border-style: none;
}

#contact_list .statuscombo *{
  text-shadow: none;
}

#contact_list .userbutton:active,
#contact_list .userbutton:hover:active,
#contact_list .userbutton:focus:active{
  background-color: lighter (@treeview-background);
  background-image: none;
  border-style: none;
}

#contact_list .userbutton {
  background-color: @treeview-background;
  background-image: none;
  border-image: none;
  border-style: none;
}

#contact_list .cell {
  color: @foreground;
  background-color: @treeview-background;
  border: none;
}

#contact_list GtkEventBox {
  background-color: @treeview-background;
}

#contact_list .frame {
  border: 0px solid @border-color;
  border-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
}

#contact_list GtkTreeView {
  background-color: @treeview-background;
}

#contact_list row:selected {
  background-color: @treeview-selected;
}

#contact_list GtkScrolledWindow {
  border: none;
}

#contact_list .scrollbar {
  background-color: @background;
  background-image: none;
}

#contact_list .slider:active {
  background-color: @treeview-selected;
}

#contact_list .slider {
  background-color: @treeview-background;
  background-image: none;
  border: 1px solid @background;
  border-radius: 4px;
}

#conversation,
#conversation GtkTreeView {
  color: black;
  background-color: @foreground;
}

#conversation .callbutton:active,
#conversation .callbutton:hover:active,
#conversation .callbutton:focus:active {
  background-color: lighter (@callbutton-selected);
  background-image: none;
}

#conversation .callbutton:selected,
#conversation .callbutton:hover {
  background-color: @callbutton-selected;
  background-image: none;
  border-image: none;
}

#conversation .callbutton {
  background-color: @callbutton-color;
  background-image: none;
  border-image: none;
  border-radius: 4px;
}
