@define-color treeview-background #414042;
@define-color treeview-selected lighter(@treeview-background);
@define-color background #231f20;

* {
  -engine: none;
  -GtkRange-slider-width: 15;
  -GtkRange-stepper-spacing: 0;
  -GtkRange-trough-border: -1;
  -GtkRange-trough-under-steppers: 1;
  -GtkScrollbar-has-backward-stepper: false;
  -GtkScrollbar-has-forward-stepper: false;
  -GtkWindow-resize-grip-default: false;
  -GtkWindow-resize-grip-height: 0;
  -GtkWindow-resize-grip-width: 0;
}

.background {
  color: #ffffff;
  background-color: @background;
}

GtkLabel {
  color: #ffffff;
}

GtkTooltip {
  color: #ffffff;
}

.arrow {
  color: #ffffff;
}

.button:active,
.button:hover:active,
.button:focus:active{
  background-color: lighter (@treeview-selected);
  background-image: none;
}

.button:selected,
.button:hover {
  background-color: @treeview-selected;
  background-image: none;
  border-color: @background;
  border-image: none;
}

.button {
  background-color: @background;
  background-image: none;
  border-image: none;
}

GtkBox#contact_list .cell {
  color: #ffffff;
  background-color: @treeview-background;
}

GtkBox#contact_list GtkTreeView {
  background-color: @treeview-background;
}

GtkBox#contact_list row:selected {
  background-color: @treeview-selected;
}

.scrollbar {
  background-color: @background;
  background-image: none;
}

.slider:active {
  background-color: @treeview-selected;
}

.slider {
  background-color: @treeview-background;
  background-image: none;
  border-radius: 10px;
}
