/*
 *    This file is part of Venom.
 *
 *    Venom is free software: you can redistribute it and/or modify
 *    it under the terms of the GNU General Public License as published by
 *    the Free Software Foundation, either version 3 of the License, or
 *    (at your option) any later version.
 *
 *    Venom is distributed in the hope that it will be useful,
 *    but WITHOUT ANY WARRANTY; without even the implied warranty of
 *    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *    GNU General Public License for more details.
 *
 *    You should have received a copy of the GNU General Public License
 *    along with Venom.  If not, see <http://www.gnu.org/licenses/>.
 */

@define-color treeview-background #414042;
@define-color treeview-selected #636466;
@define-color background #231f20;
@define-color foreground #f1f2f2;
@define-color border-color #636466;
@define-color callbutton-color #6bc260;
@define-color callbutton-selected lighter(@callbutton-color);

* {
engine: none;

/*border-width: 0px;*/
background-clip: padding-box;

-GtkArrow-arrow-scaling: 0.5;
-GtkButton-child-displacement-x: 1;
-GtkButton-child-displacement-y: 1;
-GtkButton-default-border: 0;
-GtkButton-image-spacing: 0;
-GtkButton-interior-focus: true;
-GtkButton-inner-border: 1;
-GtkCheckButton-indicator-size: 15;
-GtkCheckMenuItem-indicator-size: 12;
-GtkEntry-inner-border: 1;
-GtkEntry-progress-border: 0;
-GtkExpander-expander-size: 12;
-GtkHTML-link-color: @link_color;
-GtkIMHtml-hyperlink-color: @link_color;
-GtkMenu-horizontal-padding: 0;
-GtkMenu-vertical-padding: 0;
-GtkMenuBar-internal-padding: 0;
-GtkMenuItem-arrow-scaling: 0.4;
-GtkNotebook-initial-gap: 0;
-GtkNotebook-tab-overlap: -2;
-GtkPaned-handle-size: 1;
-GtkProgressBar-min-horizontal-bar-height: 10;
-GtkProgressBar-min-vertical-bar-width: 10;
-GtkRange-slider-width: 13;
-GtkRange-stepper-size: 0;
-GtkRange-stepper-spacing: 0;
-GtkRange-trough-border: 0;
-GtkRange-trough-under-steppers: 1;
-GtkScale-trough-border: 1;
-GtkScrollbar-activate-slider: 1;
-GtkScrollbar-trough-border: 1;
-GtkScrollbar-slider-width: 13;
-GtkScrollbar-min-slider-length: 50;
-GtkScrolledWindow-scrollbar-spacing: 0;
-GtkScrolledWindow-scrollbars-within-bevel: 1;
-GtkSeparatorMenuItem-horizontal-padding: 0;
-GtkStatusbar-shadow-type: none;
-GtkTextView-error-underline-color: @error_color;
-GtkToolButton-icon-spacing: 6;
-GtkToolItemGroup-expander-size: 11;
-GtkToolbar-internal-padding: 0;
-GtkTreeView-expander-size: 11;
-GtkTreeView-vertical-separator: 0;
-GtkWidget-wide-separators: true;
-GtkWidget-separator-width: 1;
-GtkWidget-separator-height: 1;
-GtkWidget-focus-padding: 0;
-GtkWidget-focus-line-width: 1;
-GtkWidget-link-color: @link_color;
-GtkWidget-visited-link-color: @link_color;
-GtkWindow-resize-grip-default: false;
-GtkWindow-resize-grip-height: 0;
-GtkWindow-resize-grip-width: 0;
-WnckTasklist-fade-overlay-rect: 0;
}

#contact_list,
#contact_list * {
  border-width: 0px;
  background-color: alpha(white, 0);
}

#contact_list {
  color: @foreground;
  background-color: @background;
}

#contact_list GtkLabel {
  color: @foreground;
}

#contact_list GtkTooltip {
  color: @foreground;
}

#contact_list .arrow {
  color: @foreground;
}

#contact_list .bottombutton:active,
#contact_list .bottombutton:hover:active,
#contact_list .bottombutton:focus:active{
  background-color: lighter (@treeview-selected);
  background-image: none;
  border-style: none;
}

#contact_list .bottombutton:selected,
#contact_list .bottombutton:hover {
  background-color: @treeview-selected;
  background-image: none;
  border-style: none;
}

#contact_list .bottombutton {
  background-color: @background;
  background-image: none;
  border-image: none;
  border-style: none;
}

#contact_list .statuscombo *:active,
#contact_list .statuscombo *:hover,
#contact_list .statuscombo *:focus:active{
  background-color: lighter (@border-color);
  background-image: none;
  border-style: none;
}

#contact_list .statuscombo * {
  font-weight: bold;
  background-color: @border-color;
  background-image: none;
  border-image: none;
  border-style: none;
  border-radius: 4px;
}

#contact_list .statuscombo *{
  text-shadow: none;
}

#contact_list .userbutton:active,
#contact_list .userbutton:hover:active,
#contact_list .userbutton:focus:active{
  background-color: lighter (@treeview-background);
  background-image: none;
  border-style: none;
}

#contact_list .userbutton {
  background-color: @treeview-background;
  background-image: none;
  border-image: none;
  padding-left: 0;
  padding-right: 0;
  border: none;
  border-radius: 0px;
}

#contact_list .cell {
  color: @foreground;
  background-color: @treeview-background;
  border: none;
}

#contact_list .contactlist-box {
  background-color: @treeview-background;
}

#contact_list .frame {
  border: 0px solid @border-color;
  border-top-width: 1px;
  border-bottom-width: 1px;
  padding: 0px;
}

#contact_list GtkTreeView {
  background-color: @treeview-background;
}

#contact_list row:selected {
  background-color: @treeview-selected;
}

#contact_list GtkScrolledWindow {
  border: none;
}

#contact_list GtkScrolledWindow .scrollbar {
  -GtkRange-slider-width: 0;
  -GtkRange-trough-border: 0;
}

#contact_list .scrollbar {
  background-color: #1c1c1c;
  background-image: none;
  border: none;
}

#contact_list .slider:active {
  background-color: @treeview-selected;
}

#contact_list .slider {
  background-color: @treeview-background;
  background-image: none;
  border: 1px solid @background;
  border-radius: 4px;
}

#conversation,
#conversation GtkTreeView {
  color: black;
  background-color: @foreground;
}

#conversation .callbutton:active,
#conversation .callbutton:hover:active,
#conversation .callbutton:focus:active {
  background-color: lighter (@callbutton-selected);
  background-image: none;
}

#conversation .callbutton:selected,
#conversation .callbutton:hover {
  background-color: @callbutton-selected;
  background-image: none;
  border-image: none;
}

#conversation .callbutton {
  background-color: @callbutton-color;
  background-image: none;
  border-image: none;
  border-radius: 4px;
  border: none;
}

